
body{
	width: 100%;
	background-color:#9A9F9E;
}

section {
	float: left;
	width : 60%;
}

header {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#7db9e8));
}

aside  {
	float: right;
	width: 30%;
}
aside div {
	width: 90%;
}

aside .slideshow {
	position: relative;
	width: 250px;
	height: 300px;
	margin: 0;	
	
}

aside .slideshow a img {
	-webkit-animation-name: FadeInOut;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 14s;
	
	opacity:0;
	
	position: absolute;
	left: 0;
	top: 0;
}
@-webkit-keyframes FadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


aside .slideshow a:nth-of-type(1) img{
  -webkit-animation-delay: 12s;
}
aside .slideshow a:nth-of-type(2) img{
  -webkit-animation-delay: 10s;
}
aside .slideshow a:nth-of-type(3) img{
  -webkit-animation-delay: 8s;
}
aside .slideshow a:nth-of-type(4) img{
  -webkit-animation-delay: 6s;
}
aside .slideshow a:nth-of-type(5) img{
  -webkit-animation-delay: 4s;
}
aside .slideshow a:nth-of-type(6) img{
  -webkit-animation-delay: 2s;
}
aside .slideshow a:nth-of-type(7) img{
  -webkit-animation-delay: 0;
}

#galerie{
	list-style: none outside none;
	/*margin: 0 auto; /* La galerie est centrée horizontalement */
	padding: 0;
}

#galerie li {
display:inline;
	float: left;
	margin: 0;
	padding: 5px;
	position: relative;
	z-index: 10;
}

#galerie li img {
	border: 5px solid #fff;
	z-index: 100;
	transition: transform 0.25s ease-in-out;
	-moz-transition: -moz-transform 0.25s ease-in-out;
	-o-transition: -o-transform 0.25s ease-in-out;
	-webkit-transition: -webkit-transform 0.25s ease-in-out;
	transform: scale(0.75); /* On réduit l'image à 75% */
	-moz-transform: scale(0.75);
	-o-transform: scale(0.75);
	-webkit-transform: scale(0.75);
}

#galerie:hover li img {
	opacity: 0.5; /* Au survol de la galerie, toute les images auront une opacité de 50% */
}
 
#galerie li:hover img {
	opacity: 1; /* L'image survolée aura une opacité de 100% */
	z-index: 100;
	transform: scale(1); /* On affiche l'image à sa taille normale */
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-webkit-transform: scale(1);
	box-shadow: 1px 1px 10px #000; /* On ajoute une ombre */
	-moz-box-shadow: 1px 1px 10px #000;
	-o-box-shadow: 1px 1px 10px #000;
	-webkit-box-shadow: 1px 1px 10px #000;
	-ms-transform: scale(1);
	
}


footer {
	clear: both;
}

