
body{
	padding-left: 8%;
	padding-right: 8%;
	/*vertical-align: middle;*/
	margin:0;
	width: 83%;
	background-color:#9A9F9E;
	font: arial;
}
a {
	text-decoration: none;
	color: red;
}

#corps {
	margin: 0;
	padding: 0;
}

header {
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	text-align:center;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(75, 76, 77)), color-stop(100%,rgb(135, 138, 141)));
	font-family: Lucida Calligraphy;
	padding: 10px;
}

header h1{
	font-size: 50px;
	margin: 10px;
}

header h2 {
	margin: 10px;
}

nav {
	text-align: center;
	background: rgb(156, 65, 57);
	border-top: 3px solid grey;
	border-bottom: 3px solid grey;
	
}

nav ul {
	margin: 0;
	padding: 0;
	
}

nav li {
	display: inline-block;
	padding: 15px 0;
	width:16%;
}

nav li a {
	text-decoration: none;
	text-transform: uppercase;
	color: white;	
	font: bold 15px arial;
	display: block;	
}

nav a:hover {
	-webkit-transform: scale(1.8);
	-webkit-transition: -webkit-transform 0.25s ease-in-out;
	text-shadow: 1px 1px 10px #000;
}

section {
	float: left;
	width : 76%;
	background: rgb(129, 141, 148);
	margin: 0;
}

section nav { 
	background: none;
	border: none;
}


section nav{
	background: none;
	border: none;
}

aside  {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(135, 138, 141)), color-stop(100%,rgb(50, 51, 53)));
	float: right;
	width: 24%;
	margin: 0;
}
aside div {
	width: 100%;
	margin-bottom: 20px;
	padding-top: 0;
	border-bottom: 2px solid grey;
	border-top: 2px solid grey;
}
aside div h1 {
	padding: 5px 5px 5px 5px;
	margin: 0 0 10px 0;
	background: rgb(156, 65, 57);
	text-transform: uppercase;
	color: white;	
	font: bold 15px arial;
}
aside div datetime{
	font-size: 12px;
	font-style: italic;
	color: lightgrey;
}
aside div h2 {
	font-size: 14px;
	font-style: bold;
	display: inline;
}

aside audio{
	width :100%;
}

aside .slideshow {
	position: relative;
	width: 100%;
	height: 400px;
	margin: 0;	
	padding: 0;
	
}

aside .slideshow a img {
	-webkit-animation-name: FadeInOut;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 14s;
	
	opacity:0;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
@-webkit-keyframes FadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

aside .slideshow a:nth-of-type(1) img{
  -webkit-animation-delay: 12s;
}
aside .slideshow a:nth-of-type(2) img{
  -webkit-animation-delay: 10s;
}
aside .slideshow a:nth-of-type(3) img{
  -webkit-animation-delay: 8s;
}
aside .slideshow a:nth-of-type(4) img{
  -webkit-animation-delay: 6s;
}
aside .slideshow a:nth-of-type(5) img{
  -webkit-animation-delay: 4s;
}
aside .slideshow a:nth-of-type(6) img{
  -webkit-animation-delay: 2s;
}
aside .slideshow a:nth-of-type(7) img{
  -webkit-animation-delay: 0;
}

article {
	clear: both;
	min-height:  210px;
	margin: 2%;
	margin-bottom: 30px;
	border: 1px solid black;
	border-color:rgb(155, 175, 206);
	font-size: 21px;
	text-align: justify;
	text-justify: inter-words;
	box-shadow: 1px 1px 10px #000; /* On ajoute une ombre */
}
article:hover {
	-webkit-transform: scale(1.02);
	opacity: 1;
	-webkit-transition: -webkit-transform 0.25s ease-in-out;
}
article h1{
	width:99%;
	padding: 5px 5px 5px 5px;
	margin: 0 0 10px 0;
	background: rgb(156, 65, 57);
	text-transform: uppercase;
	color: white;	
	font: bold 15px arial;
	border-bottom: 1px grey solid;
}
article h1 datetime {
	float: right;
	font-size: 12px;
	font-style: italic;
	color: lightgrey;
}
article a img {
	float: left;
	padding-bottom: 8px;
	padding-right: 8px;
}
article p {
	padding: 8px;
	margin: 0;
}

.center {
	text-align: center;
	font-size: 21px;
	padding: 2%;
}

#news{
	list-style: none;
}


#galerie{
	list-style: none outside none;

}

#galerie li {
	display:inline;
	float: left;
	/*margin: 0;*/
	padding: 5px;
	position: relative;
	z-index: 10;
}

#galerie li img {
	border: 5px solid #fff;
	z-index: 100;
	transition: transform 0.25s ease-in-out;
	-moz-transition: -moz-transform 0.25s ease-in-out;
	-o-transition: -o-transform 0.25s ease-in-out;
	-webkit-transition: -webkit-transform 0.25s ease-in-out;
	transform: scale(0.75); /* On réduit l'image à 75% */
	-moz-transform: scale(0.75);
	-o-transform: scale(0.75);
	-webkit-transform: scale(0.75);
	
}

#galerie:hover li img {
	opacity: 0.5; /* Au survol de la galerie, toute les images auront une opacité de 50% */
}
 
#galerie li:hover img {
	opacity: 1; /* L'image survolée aura une opacité de 100% */
	z-index: 100;
	transform: scale(1); /* On affiche l'image à sa taille normale */
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-webkit-transform: scale(1);
	box-shadow: 1px 1px 10px #000; /* On ajoute une ombre */
	-moz-box-shadow: 1px 1px 10px #000;
	-o-box-shadow: 1px 1px 10px #000;
	-webkit-box-shadow: 1px 1px 10px #000;
	-ms-transform: scale(1);
	
}


footer {
	clear: both;
	text-align: center;
}
footer a {
	text-decoration: none;
}
footer a:visited {
	text-decoration: none;
}

